In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\anish\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\anish\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\anish\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\anish\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\anish\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\anish\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\anish\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\anish\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\anish\anaconda3\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\anish\anaconda3\lib\site-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\anish\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

In [4]:
from sklearn.preprocessing import StandardScaler

In [5]:
scaler=StandardScaler()

In [6]:
df=pd.read_csv('Social_Network_Ads.csv')
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [9]:
df.drop('User ID', axis=1, inplace=True)

In [11]:
df['Gender']=df['Gender'].replace({'Male':0,'Female':1})

C:\Users\anish\AppData\Local\Temp\ipykernel_24588\3195947867.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Gender']=df['Gender'].replace({'Male':0,'Female':1})

In [12]:
df

     Gender  Age  EstimatedSalary  Purchased
0         0   19            19000          0
1         0   35            20000          0
2         1   26            43000          0
3         1   27            57000          0
4         0   19            76000          0
..      ...  ...              ...        ...
395       1   46            41000          1
396       0   51            23000          1
397       1   50            20000          1
398       0   36            33000          0
399       1   49            36000          1

[400 rows x 4 columns]

In [13]:
x=df.drop('Purchased',axis=1)

In [14]:
y=df['Purchased']

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [17]:
x_train

     Gender  Age  EstimatedSalary
258       1   58            95000
177       0   25            22000
119       0   41            59000
194       0   28            89000
229       1   42            80000
..      ...  ...              ...
71        1   24            27000
106       1   26            35000
270       1   43           133000
348       0   39            77000
102       1   32            86000

[268 rows x 3 columns]

In [18]:
y_test

209    0
280    1
33     0
210    1
93     0
      ..
332    0
167    0
245    1
311    1
145    0
Name: Purchased, Length: 132, dtype: int64

In [26]:
x_train_scaled=scaler.fit_transform(x_train)
x_train_scaled

array([[ 0.97785703,  2.0052225 ,  0.72479792],
       [-1.02264438, -1.22740379, -1.43119212],
       [-1.02264438,  0.33993017, -0.33843005],
       [-1.02264438, -0.93352867,  0.54759326],
       [ 0.97785703,  0.43788855,  0.28178627],
       [ 0.97785703,  0.43788855,  1.10874135],
       [ 0.97785703,  0.82972204,  0.75433203],
       [ 0.97785703,  0.92768041,  1.2564119 ],
       [ 0.97785703, -0.44373681, -1.25398746],
       [-1.02264438, -1.81515402, -1.34258979],
       [-1.02264438,  1.12359715,  0.54759326],
       [ 0.97785703, -0.63965355, -1.63793089],
       [ 0.97785703, -0.73761192,  0.25225216],
       [-1.02264438,  1.02563878,  2.08336699],
       [ 0.97785703, -0.54169518,  1.37454834],
       [ 0.97785703, -0.05190332,  0.01597928],
       [ 0.97785703, -1.91311239,  0.45899093],
       [ 0.97785703,  0.43788855,  0.25225216],
       [ 0.97785703, -1.03148704,  0.39992271],
       [-1.02264438,  0.2419718 , -0.16122538],
       [-1.02264438,  1.90726413,  0.10458161],
       [ 0.97785703, -1.12944541, -1.63793089],
       [ 0.97785703, -1.12944541,  0.28178627],
       [-1.02264438, -0.8355703 , -0.81097581],
       [ 0.97785703, -0.44373681,  2.31963987],
       [-1.02264438,  0.14401343, -0.84050992],
       [ 0.97785703,  1.61338901,  0.99060491],
       [-1.02264438, -0.14986169, -1.10631691],
       [ 0.97785703,  0.82972204, -1.13585102],
       [ 0.97785703,  0.2419718 ,  2.1129011 ],
       [ 0.97785703, -0.05190332, -0.24982772],
       [-1.02264438, -0.8355703 ,  2.29010576],
       [ 0.97785703, -0.05190332, -0.39749827],
       [-1.02264438, -0.24782006, -0.60423704],
       [ 0.97785703,  0.43788855, -0.51563471],
       [-1.02264438, -0.24782006, -0.95864636],
       [ 0.97785703,  0.33993017, -1.19491924],
       [ 0.97785703,  0.2419718 ,  0.04551339],
       [-1.02264438, -1.12944541, -1.63793089],
       [ 0.97785703, -0.63965355, -0.07262305],
       [-1.02264438, -0.24782006, -0.51563471],
       [ 0.97785703, -0.24782006, -1.34258979],
       [-1.02264438, -0.73761192,  0.54759326],
       [-1.02264438,  0.33993017,  0.04551339],
       [-1.02264438, -0.93352867,  1.551753  ],
       [ 0.97785703,  0.82972204,  0.34085449],
       [ 0.97785703, -1.5212789 , -0.22029361],
       [ 0.97785703,  0.73176366, -1.43119212],
       [-1.02264438, -0.73761192, -0.63377115],
       [ 0.97785703, -0.34577843, -1.34258979],
       [ 0.97785703,  0.2419718 ,  0.13411572],
       [ 0.97785703, -0.54169518,  1.37454834],
       [ 0.97785703, -1.42332053,  0.34085449],
       [-1.02264438, -1.12944541,  0.28178627],
       [ 0.97785703,  1.02563878,  1.78802589],
       [-1.02264438,  2.10318088,  2.14243521],
       [-1.02264438, -0.24782006, -0.45656649],
       [-1.02264438, -0.34577843, -0.81097581],
       [ 0.97785703,  0.14401343, -0.27936183],
       [ 0.97785703, -1.03148704,  0.75433203],
       [-1.02264438,  2.20113925,  0.3703886 ],
       [-1.02264438, -1.32536216, -0.45656649],
       [-1.02264438,  2.0052225 ,  2.17196932],
       [ 0.97785703,  1.51543064,  0.99060491],
       [-1.02264438, -0.24782006,  0.25225216],
       [-1.02264438, -0.14986169,  0.84293436],
       [-1.02264438,  1.90726413, -0.30889594],
       [ 0.97785703, -0.05190332,  1.96523055],
       [-1.02264438, -0.44373681, -0.81097581],
       [ 0.97785703,  0.33993017,  0.01597928],
       [ 0.97785703,  1.41747227, -1.46072623],
       [-1.02264438,  1.41747227,  2.34917398],
       [-1.02264438, -0.05190332, -0.01355483],
       [ 0.97785703, -1.12944541,  0.39992271],
       [ 0.97785703, -1.12944541,  0.04551339],
       [ 0.97785703, -1.12944541, -0.54516882],
       [ 0.97785703,  0.33993017, -0.30889594],
       [-1.02264438, -0.63965355, -0.13169127],
       [-1.02264438, -0.05190332,  2.17196932],
       [-1.02264438,  0.04605506, -0.27936183],
       [ 0.97785703, -0.63965355, -1.0767828 ],
       [ 0.97785703,  0.43788855,  0.13411572],
       [-1.02264438,  0.82972204,  1.37454834],
       [-1.02264438, -0.14986169, -0.54516882],
       [-1.02264438,  0.04605506,  0.01597928],
       [-1.02264438,  1.12359715,  0.51805915],
       [ 0.97785703,  1.90726413, -1.10631691],
       [ 0.97785703,  1.02563878,  1.99476466],
       [ 0.97785703,  0.92768041, -0.60423704],
       [ 0.97785703, -0.44373681, -0.04308894],
       [ 0.97785703, -0.05190332,  2.23103754],
       [ 0.97785703, -1.71719565,  0.34085449],
       [-1.02264438,  0.2419718 , -0.69283937],
       [-1.02264438, -0.24782006, -1.43119212],
       [ 0.97785703, -1.71719565, -1.01771458],
       [ 0.97785703,  0.73176366, -0.75190759],
       [ 0.97785703, -1.12944541, -0.81097581],
       [ 0.97785703,  2.0052225 ,  0.90200258],
       [-1.02264438,  0.2419718 , -0.39749827],
       [ 0.97785703,  0.04605506,  1.22687779],
       [ 0.97785703, -0.05190332,  0.28178627],
       [-1.02264438,  1.12359715, -1.25398746],
       [ 0.97785703, -0.14986169,  0.13411572],
       [ 0.97785703,  0.33993017,  0.04551339],
       [ 0.97785703, -0.24782006, -0.30889594],
       [-1.02264438,  0.53584692,  1.72895767],
       [-1.02264438,  0.33993017,  0.48852504],
       [ 0.97785703,  0.04605506,  1.2564119 ],
       [ 0.97785703,  2.0052225 , -1.40165801],
       [-1.02264438, -1.12944541, -1.13585102],
       [-1.02264438, -0.54169518, -1.54932856],
       [-1.02264438,  0.33993017, -0.54516882],
       [-1.02264438, -0.63965355, -1.54932856],
       [-1.02264438, -0.24782006,  0.51805915],
       [ 0.97785703,  1.02563878, -1.04724869],
       [-1.02264438, -1.03148704,  0.54759326],
       [ 0.97785703, -0.24782006,  0.78386614],
       [-1.02264438,  0.43788855,  0.0750475 ],
       [ 0.97785703, -1.61923728, -0.07262305],
       [ 0.97785703,  0.33993017,  0.04551339],
       [ 0.97785703, -0.44373681, -0.30889594],
       [-1.02264438,  0.14401343,  1.87662822],
       [ 0.97785703, -0.93352867,  0.39992271],
       [-1.02264438,  0.82972204,  0.51805915],
       [-1.02264438, -1.32536216, -0.36796416],
       [ 0.97785703, -0.63965355,  1.40408245],
       [ 0.97785703,  1.22155552,  0.51805915],
       [ 0.97785703, -1.71719565,  0.34085449],
       [ 0.97785703, -0.54169518,  1.90616233],
       [-1.02264438, -1.71719565,  0.45899093],
       [-1.02264438, -0.24782006, -1.28352157],
       [-1.02264438, -0.8355703 , -0.81097581],
       [-1.02264438, -1.61923728,  0.51805915],
       [-1.02264438, -0.24782006, -0.33843005],
       [-1.02264438,  0.73176366, -1.13585102],
       [-1.02264438,  2.20113925, -0.84050992],
       [-1.02264438, -0.24782006,  0.60666148],
       [ 0.97785703, -0.24782006, -0.7814417 ],
       [ 0.97785703, -1.91311239, -0.7814417 ],
       [-1.02264438,  0.43788855,  2.31963987],
       [-1.02264438,  0.73176366,  0.25225216],
       [ 0.97785703,  0.2419718 , -0.30889594],
       [-1.02264438, -1.32536216, -1.40165801],
       [ 0.97785703, -0.44373681, -0.57470293],
       [ 0.97785703,  0.43788855, -0.01355483],
       [ 0.97785703,  1.71134739,  1.75849178],
       [ 0.97785703,  1.22155552, -0.7814417 ],
       [ 0.97785703,  1.02563878,  1.43361656],
       [-1.02264438, -1.81515402,  0.16364983],
       [ 0.97785703,  0.33993017,  0.04551339],
       [-1.02264438,  0.2419718 ,  0.01597928],
       [-1.02264438, -1.03148704,  0.51805915],
       [ 0.97785703, -0.14986169,  1.64035534],
       [-1.02264438, -0.24782006,  0.13411572],
       [-1.02264438, -0.24782006, -0.36796416],
       [-1.02264438, -0.34577843,  1.31548012],
       [-1.02264438, -0.24782006,  0.0750475 ],
       [ 0.97785703,  2.20113925,  1.10874135],
       [-1.02264438, -1.22740379,  0.48852504],
       [ 0.97785703, -1.03148704, -0.4861006 ],
       [ 0.97785703, -1.61923728, -1.60839678],
       [-1.02264438, -0.05190332,  0.10458161],
       [-1.02264438, -0.24782006, -0.92911225],
       [-1.02264438,  1.61338901, -0.01355483],
       [ 0.97785703,  0.92768041, -1.19491924],
       [ 0.97785703,  0.04605506, -0.60423704],
       [ 0.97785703, -0.24782006,  2.26057165],
       [ 0.97785703, -0.24782006,  0.19318394],
       [-1.02264438,  0.33993017,  0.25225216],
       [ 0.97785703, -0.05190332, -1.10631691],
       [ 0.97785703,  2.20113925, -0.72237348],
       [ 0.97785703, -0.93352867, -0.33843005],
       [ 0.97785703, -1.42332053, -0.13169127],
       [-1.02264438, -1.42332053, -0.22029361],
       [-1.02264438, -0.73761192, -1.57886267],
       [-1.02264438, -1.22740379, -1.10631691],
       [ 0.97785703,  2.10318088,  0.3703886 ],
       [ 0.97785703,  2.0052225 , -0.95864636],
       [-1.02264438, -1.91311239,  0.34085449],
       [-1.02264438,  0.82972204, -0.33843005],
       [ 0.97785703, -1.03148704, -1.57886267],
       [ 0.97785703,  2.0052225 , -0.69283937],
       [ 0.97785703,  1.02563878, -1.19491924],
       [-1.02264438,  1.12359715, -0.16122538],
       [ 0.97785703,  1.22155552, -1.01771458],
       [-1.02264438,  1.51543064,  0.04551339],
       [-1.02264438,  0.2419718 , -0.39749827],
       [ 0.97785703,  1.41747227,  1.28594601],
       [ 0.97785703,  2.10318088, -0.84050992],
       [ 0.97785703, -0.14986169, -0.22029361],
       [-1.02264438,  0.43788855,  0.99060491],
       [-1.02264438, -0.05190332, -0.54516882],
       [-1.02264438,  1.02563878, -1.10631691],
       [ 0.97785703,  2.10318088, -1.22445335],
       [-1.02264438, -0.05190332,  0.25225216],
       [-1.02264438,  0.2419718 , -0.27936183],
       [-1.02264438,  1.12359715,  0.10458161],
       [-1.02264438, -1.22740379,  0.57712737],
       [-1.02264438, -0.73761192, -1.63793089],
       [-1.02264438,  0.2419718 ,  0.22271805],
       [-1.02264438, -1.32536216,  0.39992271],
       [ 0.97785703,  0.04605506, -0.60423704],
       [ 0.97785703,  0.73176366,  1.78802589],
       [-1.02264438, -1.61923728,  0.04551339],
       [ 0.97785703, -0.24782006, -1.40165801],
       [-1.02264438, -0.24782006, -1.49026034],
       [ 0.97785703, -0.63965355,  0.54759326],
       [-1.02264438, -0.73761192,  0.28178627],
       [ 0.97785703,  0.92768041, -0.69283937],
       [-1.02264438, -1.03148704,  0.57712737],
       [ 0.97785703, -0.24782006,  0.04551339],
       [ 0.97785703, -0.73761192,  1.34501423],
       [-1.02264438,  0.14401343,  1.52221889],
       [ 0.97785703, -0.8355703 ,  0.3703886 ],
       [ 0.97785703,  0.33993017, -0.22029361],
       [-1.02264438,  1.02563878,  0.57712737],
       [-1.02264438,  0.04605506, -0.33843005],
       [-1.02264438, -0.54169518, -1.54932856],
       [ 0.97785703,  0.14401343,  0.13411572],
       [-1.02264438, -1.12944541,  0.31132038],
       [-1.02264438,  0.14401343,  1.04967313],
       [ 0.97785703, -1.5212789 , -0.45656649],
       [-1.02264438, -0.14986169,  1.40408245],
       [-1.02264438,  2.20113925, -0.84050992],
       [ 0.97785703, -0.93352867, -0.45656649],
       [ 0.97785703,  1.3195139 ,  1.87662822],
       [-1.02264438,  1.12359715, -1.25398746],
       [-1.02264438, -0.14986169, -0.30889594],
       [ 0.97785703,  1.80930576,  0.99060491],
       [ 0.97785703, -1.03148704, -0.36796416],
       [ 0.97785703, -1.32536216, -1.13585102],
       [ 0.97785703, -0.34577843,  0.04551339],
       [-1.02264438, -0.93352867, -1.13585102],
       [ 0.97785703,  1.22155552, -1.49026034],
       [ 0.97785703, -0.44373681, -0.87004403],
       [ 0.97785703, -0.8355703 , -0.69283937],
       [-1.02264438, -1.5212789 , -1.54932856],
       [-1.02264438, -0.73761192,  1.90616233],
       [-1.02264438,  0.92768041,  1.02013902],
       [-1.02264438,  0.82972204,  0.25225216],
       [ 0.97785703,  1.02563878,  1.87662822],
       [ 0.97785703,  0.92768041, -0.63377115],
       [ 0.97785703,  1.12359715,  2.08336699],
       [-1.02264438, -0.54169518,  0.87246847],
       [-1.02264438,  0.04605506,  0.01597928],
       [ 0.97785703, -1.81515402, -1.31305568],
       [-1.02264438, -0.05190332,  0.19318394],
       [ 0.97785703,  0.92768041, -0.57470293],
       [-1.02264438,  0.2419718 , -0.39749827],
       [-1.02264438, -0.14986169,  1.61082123],
       [-1.02264438, -1.71719565,  0.10458161],
       [-1.02264438, -0.63965355, -0.36796416],
       [-1.02264438,  0.33993017, -0.75190759],
       [-1.02264438,  0.43788855, -0.4861006 ],
       [ 0.97785703, -0.93352867, -0.98818047],
       [ 0.97785703,  0.14401343,  0.0750475 ],
       [ 0.97785703, -0.93352867,  0.42945682],
       [-1.02264438,  0.04605506, -0.57470293],
       [-1.02264438,  0.92768041, -0.81097581],
       [-1.02264438, -0.05190332,  0.04551339],
       [ 0.97785703,  1.12359715, -1.01771458],
       [-1.02264438,  0.73176366, -1.43119212],
       [-1.02264438, -0.24782006,  0.04551339],
       [ 0.97785703, -1.32536216, -1.28352157],
       [ 0.97785703, -1.12944541, -1.04724869],
       [ 0.97785703,  0.53584692,  1.84709411],
       [-1.02264438,  0.14401343,  0.19318394],
       [ 0.97785703, -0.54169518,  0.45899093]])

In [28]:
x_train

     Gender  Age  EstimatedSalary
258       1   58            95000
177       0   25            22000
119       0   41            59000
194       0   28            89000
229       1   42            80000
..      ...  ...              ...
71        1   24            27000
106       1   26            35000
270       1   43           133000
348       0   39            77000
102       1   32            86000

[268 rows x 3 columns]

In [21]:
type(scaler.transform(x_test))

numpy.ndarray

In [27]:
x_test_scaled=scaler.transform(x_test)
x_test_scaled

array([[ 0.97785703,  0.82972204, -1.43119212],
       [ 0.97785703,  2.10318088,  0.51805915],
       [ 0.97785703, -0.93352867, -0.7814417 ],
       [ 0.97785703,  1.02563878,  0.75433203],
       [ 0.97785703, -0.8355703 , -1.25398746],
       [ 0.97785703, -0.73761192, -0.24982772],
       [ 0.97785703,  0.92768041,  1.07920724],
       [ 0.97785703, -0.8355703 ,  0.3703886 ],
       [-1.02264438,  0.2419718 ,  0.13411572],
       [-1.02264438,  0.43788855, -0.16122538],
       [ 0.97785703, -0.24782006, -0.16122538],
       [ 0.97785703,  1.51543064, -1.0767828 ],
       [ 0.97785703, -1.42332053, -0.66330526],
       [ 0.97785703, -1.71719565, -1.40165801],
       [-1.02264438, -0.73761192,  0.48852504],
       [-1.02264438, -0.24782006,  1.10874135],
       [ 0.97785703,  1.41747227, -0.95864636],
       [ 0.97785703,  0.82972204,  0.10458161],
       [-1.02264438,  0.14401343, -0.84050992],
       [-1.02264438,  1.80930576, -0.30889594],
       [ 0.97785703, -1.5212789 , -1.28352157],
       [-1.02264438, -0.8355703 ,  0.28178627],
       [-1.02264438,  0.92768041, -1.40165801],
       [ 0.97785703,  2.10318088,  0.16364983],
       [-1.02264438, -1.81515402, -1.51979445],
       [-1.02264438,  1.3195139 , -1.40165801],
       [-1.02264438,  0.43788855,  0.28178627],
       [-1.02264438, -0.05190332, -0.51563471],
       [ 0.97785703,  1.71134739,  1.61082123],
       [ 0.97785703, -1.81515402, -1.46072623],
       [ 0.97785703,  0.82972204, -0.87004403],
       [-1.02264438, -1.81515402, -0.01355483],
       [-1.02264438, -0.14986169,  2.17196932],
       [-1.02264438, -0.93352867,  0.25225216],
       [-1.02264438,  0.2419718 ,  1.07920724],
       [-1.02264438, -0.24782006,  0.13411572],
       [-1.02264438, -0.05190332, -0.45656649],
       [ 0.97785703,  0.04605506, -0.16122538],
       [-1.02264438, -1.12944541, -1.19491924],
       [ 0.97785703, -1.91311239, -0.07262305],
       [-1.02264438,  1.02563878, -1.10631691],
       [ 0.97785703, -1.32536216, -0.45656649],
       [-1.02264438, -1.91311239, -0.54516882],
       [-1.02264438,  0.92768041, -1.49026034],
       [-1.02264438, -1.71719565, -0.63377115],
       [ 0.97785703,  0.63380529,  2.02429877],
       [-1.02264438, -0.8355703 , -0.27936183],
       [ 0.97785703, -0.63965355,  0.01597928],
       [-1.02264438,  1.02563878, -0.87004403],
       [ 0.97785703, -0.34577843, -0.81097581],
       [-1.02264438, -1.22740379,  0.25225216],
       [ 0.97785703,  1.51543064,  0.34085449],
       [ 0.97785703,  0.04605506, -0.45656649],
       [-1.02264438, -1.22740379,  0.28178627],
       [ 0.97785703, -0.05190332,  0.28178627],
       [ 0.97785703, -1.03148704, -1.16538513],
       [-1.02264438,  2.20113925,  0.93153669],
       [ 0.97785703, -1.12944541,  1.40408245],
       [-1.02264438, -0.63965355,  0.10458161],
       [-1.02264438, -0.63965355,  0.16364983],
       [ 0.97785703,  0.33993017, -0.57470293],
       [ 0.97785703, -0.24782006, -0.39749827],
       [ 0.97785703,  1.41747227,  0.57712737],
       [ 0.97785703, -0.93352867,  0.48852504],
       [-1.02264438, -0.93352867, -0.33843005],
       [ 0.97785703, -1.03148704,  1.96523055],
       [ 0.97785703,  0.43788855,  0.57712737],
       [ 0.97785703,  0.92768041,  2.17196932],
       [ 0.97785703,  0.14401343, -0.33843005],
       [ 0.97785703, -0.44373681,  1.2564119 ],
       [ 0.97785703,  1.41747227,  1.99476466],
       [-1.02264438, -1.81515402,  0.42945682],
       [-1.02264438, -1.03148704, -0.36796416],
       [-1.02264438, -1.42332053, -1.49026034],
       [-1.02264438,  0.92768041, -1.0767828 ],
       [ 0.97785703, -0.24782006, -0.60423704],
       [-1.02264438,  1.80930576,  1.84709411],
       [ 0.97785703,  1.61338901, -1.31305568],
       [ 0.97785703, -0.24782006, -0.69283937],
       [ 0.97785703, -0.05190332,  0.22271805],
       [ 0.97785703, -1.03148704, -0.39749827],
       [-1.02264438,  0.82972204, -1.25398746],
       [ 0.97785703,  0.14401343,  1.87662822],
       [ 0.97785703,  0.63380529, -0.92911225],
       [ 0.97785703,  1.90726413, -1.31305568],
       [-1.02264438, -0.54169518,  1.46315067],
       [-1.02264438,  0.33993017, -0.54516882],
       [-1.02264438,  1.02563878,  0.10458161],
       [-1.02264438, -1.12944541,  0.45899093],
       [-1.02264438, -1.5212789 ,  0.31132038],
       [-1.02264438,  1.12359715,  0.45899093],
       [ 0.97785703, -0.14986169, -0.4861006 ],
       [-1.02264438,  0.2419718 , -0.33843005],
       [ 0.97785703,  0.33993017,  0.28178627],
       [-1.02264438, -1.12944541, -1.60839678],
       [ 0.97785703,  0.14401343,  0.25225216],
       [-1.02264438,  2.10318088,  1.75849178],
       [-1.02264438,  0.43788855, -0.1907595 ],
       [ 0.97785703,  1.51543064,  2.14243521],
       [-1.02264438, -0.34577843,  1.22687779],
       [ 0.97785703,  1.90726413,  1.52221889],
       [ 0.97785703,  0.14401343,  0.01597928],
       [-1.02264438,  0.92768041, -1.34258979],
       [-1.02264438, -1.32536216, -1.51979445],
       [ 0.97785703, -0.14986169, -0.60423704],
       [ 0.97785703, -0.54169518,  2.34917398],
       [ 0.97785703,  1.02563878, -1.22445335],
       [-1.02264438, -0.73761192,  1.07920724],
       [-1.02264438,  2.20113925, -1.0767828 ],
       [-1.02264438,  0.04605506, -0.27936183],
       [-1.02264438, -0.44373681, -1.16538513],
       [-1.02264438,  0.14401343,  0.01597928],
       [-1.02264438,  1.71134739, -0.92911225],
       [ 0.97785703,  1.12359715, -0.92911225],
       [ 0.97785703,  0.53584692,  1.22687779],
       [-1.02264438, -1.03148704, -1.49026034],
       [ 0.97785703, -1.12944541, -1.57886267],
       [ 0.97785703, -0.05190332,  0.6657297 ],
       [-1.02264438,  0.43788855, -0.4861006 ],
       [-1.02264438, -0.24782006, -0.27936183],
       [-1.02264438, -0.8355703 ,  0.13411572],
       [ 0.97785703,  0.04605506,  0.28178627],
       [-1.02264438,  0.73176366, -1.31305568],
       [ 0.97785703,  1.61338901,  1.10874135],
       [-1.02264438,  0.82972204, -1.40165801],
       [ 0.97785703, -1.42332053, -1.25398746],
       [-1.02264438, -0.05190332,  0.13411572],
       [-1.02264438,  0.43788855, -0.16122538],
       [ 0.97785703, -0.24782006,  0.01597928],
       [ 0.97785703,  1.3195139 ,  2.23103754],
       [-1.02264438,  0.14401343,  0.75433203],
       [ 0.97785703, -1.32536216,  0.54759326]])

In [29]:
x_train_scaled

array([[ 0.97785703,  2.0052225 ,  0.72479792],
       [-1.02264438, -1.22740379, -1.43119212],
       [-1.02264438,  0.33993017, -0.33843005],
       [-1.02264438, -0.93352867,  0.54759326],
       [ 0.97785703,  0.43788855,  0.28178627],
       [ 0.97785703,  0.43788855,  1.10874135],
       [ 0.97785703,  0.82972204,  0.75433203],
       [ 0.97785703,  0.92768041,  1.2564119 ],
       [ 0.97785703, -0.44373681, -1.25398746],
       [-1.02264438, -1.81515402, -1.34258979],
       [-1.02264438,  1.12359715,  0.54759326],
       [ 0.97785703, -0.63965355, -1.63793089],
       [ 0.97785703, -0.73761192,  0.25225216],
       [-1.02264438,  1.02563878,  2.08336699],
       [ 0.97785703, -0.54169518,  1.37454834],
       [ 0.97785703, -0.05190332,  0.01597928],
       [ 0.97785703, -1.91311239,  0.45899093],
       [ 0.97785703,  0.43788855,  0.25225216],
       [ 0.97785703, -1.03148704,  0.39992271],
       [-1.02264438,  0.2419718 , -0.16122538],
       [-1.02264438,  1.90726413,  0.10458161],
       [ 0.97785703, -1.12944541, -1.63793089],
       [ 0.97785703, -1.12944541,  0.28178627],
       [-1.02264438, -0.8355703 , -0.81097581],
       [ 0.97785703, -0.44373681,  2.31963987],
       [-1.02264438,  0.14401343, -0.84050992],
       [ 0.97785703,  1.61338901,  0.99060491],
       [-1.02264438, -0.14986169, -1.10631691],
       [ 0.97785703,  0.82972204, -1.13585102],
       [ 0.97785703,  0.2419718 ,  2.1129011 ],
       [ 0.97785703, -0.05190332, -0.24982772],
       [-1.02264438, -0.8355703 ,  2.29010576],
       [ 0.97785703, -0.05190332, -0.39749827],
       [-1.02264438, -0.24782006, -0.60423704],
       [ 0.97785703,  0.43788855, -0.51563471],
       [-1.02264438, -0.24782006, -0.95864636],
       [ 0.97785703,  0.33993017, -1.19491924],
       [ 0.97785703,  0.2419718 ,  0.04551339],
       [-1.02264438, -1.12944541, -1.63793089],
       [ 0.97785703, -0.63965355, -0.07262305],
       [-1.02264438, -0.24782006, -0.51563471],
       [ 0.97785703, -0.24782006, -1.34258979],
       [-1.02264438, -0.73761192,  0.54759326],
       [-1.02264438,  0.33993017,  0.04551339],
       [-1.02264438, -0.93352867,  1.551753  ],
       [ 0.97785703,  0.82972204,  0.34085449],
       [ 0.97785703, -1.5212789 , -0.22029361],
       [ 0.97785703,  0.73176366, -1.43119212],
       [-1.02264438, -0.73761192, -0.63377115],
       [ 0.97785703, -0.34577843, -1.34258979],
       [ 0.97785703,  0.2419718 ,  0.13411572],
       [ 0.97785703, -0.54169518,  1.37454834],
       [ 0.97785703, -1.42332053,  0.34085449],
       [-1.02264438, -1.12944541,  0.28178627],
       [ 0.97785703,  1.02563878,  1.78802589],
       [-1.02264438,  2.10318088,  2.14243521],
       [-1.02264438, -0.24782006, -0.45656649],
       [-1.02264438, -0.34577843, -0.81097581],
       [ 0.97785703,  0.14401343, -0.27936183],
       [ 0.97785703, -1.03148704,  0.75433203],
       [-1.02264438,  2.20113925,  0.3703886 ],
       [-1.02264438, -1.32536216, -0.45656649],
       [-1.02264438,  2.0052225 ,  2.17196932],
       [ 0.97785703,  1.51543064,  0.99060491],
       [-1.02264438, -0.24782006,  0.25225216],
       [-1.02264438, -0.14986169,  0.84293436],
       [-1.02264438,  1.90726413, -0.30889594],
       [ 0.97785703, -0.05190332,  1.96523055],
       [-1.02264438, -0.44373681, -0.81097581],
       [ 0.97785703,  0.33993017,  0.01597928],
       [ 0.97785703,  1.41747227, -1.46072623],
       [-1.02264438,  1.41747227,  2.34917398],
       [-1.02264438, -0.05190332, -0.01355483],
       [ 0.97785703, -1.12944541,  0.39992271],
       [ 0.97785703, -1.12944541,  0.04551339],
       [ 0.97785703, -1.12944541, -0.54516882],
       [ 0.97785703,  0.33993017, -0.30889594],
       [-1.02264438, -0.63965355, -0.13169127],
       [-1.02264438, -0.05190332,  2.17196932],
       [-1.02264438,  0.04605506, -0.27936183],
       [ 0.97785703, -0.63965355, -1.0767828 ],
       [ 0.97785703,  0.43788855,  0.13411572],
       [-1.02264438,  0.82972204,  1.37454834],
       [-1.02264438, -0.14986169, -0.54516882],
       [-1.02264438,  0.04605506,  0.01597928],
       [-1.02264438,  1.12359715,  0.51805915],
       [ 0.97785703,  1.90726413, -1.10631691],
       [ 0.97785703,  1.02563878,  1.99476466],
       [ 0.97785703,  0.92768041, -0.60423704],
       [ 0.97785703, -0.44373681, -0.04308894],
       [ 0.97785703, -0.05190332,  2.23103754],
       [ 0.97785703, -1.71719565,  0.34085449],
       [-1.02264438,  0.2419718 , -0.69283937],
       [-1.02264438, -0.24782006, -1.43119212],
       [ 0.97785703, -1.71719565, -1.01771458],
       [ 0.97785703,  0.73176366, -0.75190759],
       [ 0.97785703, -1.12944541, -0.81097581],
       [ 0.97785703,  2.0052225 ,  0.90200258],
       [-1.02264438,  0.2419718 , -0.39749827],
       [ 0.97785703,  0.04605506,  1.22687779],
       [ 0.97785703, -0.05190332,  0.28178627],
       [-1.02264438,  1.12359715, -1.25398746],
       [ 0.97785703, -0.14986169,  0.13411572],
       [ 0.97785703,  0.33993017,  0.04551339],
       [ 0.97785703, -0.24782006, -0.30889594],
       [-1.02264438,  0.53584692,  1.72895767],
       [-1.02264438,  0.33993017,  0.48852504],
       [ 0.97785703,  0.04605506,  1.2564119 ],
       [ 0.97785703,  2.0052225 , -1.40165801],
       [-1.02264438, -1.12944541, -1.13585102],
       [-1.02264438, -0.54169518, -1.54932856],
       [-1.02264438,  0.33993017, -0.54516882],
       [-1.02264438, -0.63965355, -1.54932856],
       [-1.02264438, -0.24782006,  0.51805915],
       [ 0.97785703,  1.02563878, -1.04724869],
       [-1.02264438, -1.03148704,  0.54759326],
       [ 0.97785703, -0.24782006,  0.78386614],
       [-1.02264438,  0.43788855,  0.0750475 ],
       [ 0.97785703, -1.61923728, -0.07262305],
       [ 0.97785703,  0.33993017,  0.04551339],
       [ 0.97785703, -0.44373681, -0.30889594],
       [-1.02264438,  0.14401343,  1.87662822],
       [ 0.97785703, -0.93352867,  0.39992271],
       [-1.02264438,  0.82972204,  0.51805915],
       [-1.02264438, -1.32536216, -0.36796416],
       [ 0.97785703, -0.63965355,  1.40408245],
       [ 0.97785703,  1.22155552,  0.51805915],
       [ 0.97785703, -1.71719565,  0.34085449],
       [ 0.97785703, -0.54169518,  1.90616233],
       [-1.02264438, -1.71719565,  0.45899093],
       [-1.02264438, -0.24782006, -1.28352157],
       [-1.02264438, -0.8355703 , -0.81097581],
       [-1.02264438, -1.61923728,  0.51805915],
       [-1.02264438, -0.24782006, -0.33843005],
       [-1.02264438,  0.73176366, -1.13585102],
       [-1.02264438,  2.20113925, -0.84050992],
       [-1.02264438, -0.24782006,  0.60666148],
       [ 0.97785703, -0.24782006, -0.7814417 ],
       [ 0.97785703, -1.91311239, -0.7814417 ],
       [-1.02264438,  0.43788855,  2.31963987],
       [-1.02264438,  0.73176366,  0.25225216],
       [ 0.97785703,  0.2419718 , -0.30889594],
       [-1.02264438, -1.32536216, -1.40165801],
       [ 0.97785703, -0.44373681, -0.57470293],
       [ 0.97785703,  0.43788855, -0.01355483],
       [ 0.97785703,  1.71134739,  1.75849178],
       [ 0.97785703,  1.22155552, -0.7814417 ],
       [ 0.97785703,  1.02563878,  1.43361656],
       [-1.02264438, -1.81515402,  0.16364983],
       [ 0.97785703,  0.33993017,  0.04551339],
       [-1.02264438,  0.2419718 ,  0.01597928],
       [-1.02264438, -1.03148704,  0.51805915],
       [ 0.97785703, -0.14986169,  1.64035534],
       [-1.02264438, -0.24782006,  0.13411572],
       [-1.02264438, -0.24782006, -0.36796416],
       [-1.02264438, -0.34577843,  1.31548012],
       [-1.02264438, -0.24782006,  0.0750475 ],
       [ 0.97785703,  2.20113925,  1.10874135],
       [-1.02264438, -1.22740379,  0.48852504],
       [ 0.97785703, -1.03148704, -0.4861006 ],
       [ 0.97785703, -1.61923728, -1.60839678],
       [-1.02264438, -0.05190332,  0.10458161],
       [-1.02264438, -0.24782006, -0.92911225],
       [-1.02264438,  1.61338901, -0.01355483],
       [ 0.97785703,  0.92768041, -1.19491924],
       [ 0.97785703,  0.04605506, -0.60423704],
       [ 0.97785703, -0.24782006,  2.26057165],
       [ 0.97785703, -0.24782006,  0.19318394],
       [-1.02264438,  0.33993017,  0.25225216],
       [ 0.97785703, -0.05190332, -1.10631691],
       [ 0.97785703,  2.20113925, -0.72237348],
       [ 0.97785703, -0.93352867, -0.33843005],
       [ 0.97785703, -1.42332053, -0.13169127],
       [-1.02264438, -1.42332053, -0.22029361],
       [-1.02264438, -0.73761192, -1.57886267],
       [-1.02264438, -1.22740379, -1.10631691],
       [ 0.97785703,  2.10318088,  0.3703886 ],
       [ 0.97785703,  2.0052225 , -0.95864636],
       [-1.02264438, -1.91311239,  0.34085449],
       [-1.02264438,  0.82972204, -0.33843005],
       [ 0.97785703, -1.03148704, -1.57886267],
       [ 0.97785703,  2.0052225 , -0.69283937],
       [ 0.97785703,  1.02563878, -1.19491924],
       [-1.02264438,  1.12359715, -0.16122538],
       [ 0.97785703,  1.22155552, -1.01771458],
       [-1.02264438,  1.51543064,  0.04551339],
       [-1.02264438,  0.2419718 , -0.39749827],
       [ 0.97785703,  1.41747227,  1.28594601],
       [ 0.97785703,  2.10318088, -0.84050992],
       [ 0.97785703, -0.14986169, -0.22029361],
       [-1.02264438,  0.43788855,  0.99060491],
       [-1.02264438, -0.05190332, -0.54516882],
       [-1.02264438,  1.02563878, -1.10631691],
       [ 0.97785703,  2.10318088, -1.22445335],
       [-1.02264438, -0.05190332,  0.25225216],
       [-1.02264438,  0.2419718 , -0.27936183],
       [-1.02264438,  1.12359715,  0.10458161],
       [-1.02264438, -1.22740379,  0.57712737],
       [-1.02264438, -0.73761192, -1.63793089],
       [-1.02264438,  0.2419718 ,  0.22271805],
       [-1.02264438, -1.32536216,  0.39992271],
       [ 0.97785703,  0.04605506, -0.60423704],
       [ 0.97785703,  0.73176366,  1.78802589],
       [-1.02264438, -1.61923728,  0.04551339],
       [ 0.97785703, -0.24782006, -1.40165801],
       [-1.02264438, -0.24782006, -1.49026034],
       [ 0.97785703, -0.63965355,  0.54759326],
       [-1.02264438, -0.73761192,  0.28178627],
       [ 0.97785703,  0.92768041, -0.69283937],
       [-1.02264438, -1.03148704,  0.57712737],
       [ 0.97785703, -0.24782006,  0.04551339],
       [ 0.97785703, -0.73761192,  1.34501423],
       [-1.02264438,  0.14401343,  1.52221889],
       [ 0.97785703, -0.8355703 ,  0.3703886 ],
       [ 0.97785703,  0.33993017, -0.22029361],
       [-1.02264438,  1.02563878,  0.57712737],
       [-1.02264438,  0.04605506, -0.33843005],
       [-1.02264438, -0.54169518, -1.54932856],
       [ 0.97785703,  0.14401343,  0.13411572],
       [-1.02264438, -1.12944541,  0.31132038],
       [-1.02264438,  0.14401343,  1.04967313],
       [ 0.97785703, -1.5212789 , -0.45656649],
       [-1.02264438, -0.14986169,  1.40408245],
       [-1.02264438,  2.20113925, -0.84050992],
       [ 0.97785703, -0.93352867, -0.45656649],
       [ 0.97785703,  1.3195139 ,  1.87662822],
       [-1.02264438,  1.12359715, -1.25398746],
       [-1.02264438, -0.14986169, -0.30889594],
       [ 0.97785703,  1.80930576,  0.99060491],
       [ 0.97785703, -1.03148704, -0.36796416],
       [ 0.97785703, -1.32536216, -1.13585102],
       [ 0.97785703, -0.34577843,  0.04551339],
       [-1.02264438, -0.93352867, -1.13585102],
       [ 0.97785703,  1.22155552, -1.49026034],
       [ 0.97785703, -0.44373681, -0.87004403],
       [ 0.97785703, -0.8355703 , -0.69283937],
       [-1.02264438, -1.5212789 , -1.54932856],
       [-1.02264438, -0.73761192,  1.90616233],
       [-1.02264438,  0.92768041,  1.02013902],
       [-1.02264438,  0.82972204,  0.25225216],
       [ 0.97785703,  1.02563878,  1.87662822],
       [ 0.97785703,  0.92768041, -0.63377115],
       [ 0.97785703,  1.12359715,  2.08336699],
       [-1.02264438, -0.54169518,  0.87246847],
       [-1.02264438,  0.04605506,  0.01597928],
       [ 0.97785703, -1.81515402, -1.31305568],
       [-1.02264438, -0.05190332,  0.19318394],
       [ 0.97785703,  0.92768041, -0.57470293],
       [-1.02264438,  0.2419718 , -0.39749827],
       [-1.02264438, -0.14986169,  1.61082123],
       [-1.02264438, -1.71719565,  0.10458161],
       [-1.02264438, -0.63965355, -0.36796416],
       [-1.02264438,  0.33993017, -0.75190759],
       [-1.02264438,  0.43788855, -0.4861006 ],
       [ 0.97785703, -0.93352867, -0.98818047],
       [ 0.97785703,  0.14401343,  0.0750475 ],
       [ 0.97785703, -0.93352867,  0.42945682],
       [-1.02264438,  0.04605506, -0.57470293],
       [-1.02264438,  0.92768041, -0.81097581],
       [-1.02264438, -0.05190332,  0.04551339],
       [ 0.97785703,  1.12359715, -1.01771458],
       [-1.02264438,  0.73176366, -1.43119212],
       [-1.02264438, -0.24782006,  0.04551339],
       [ 0.97785703, -1.32536216, -1.28352157],
       [ 0.97785703, -1.12944541, -1.04724869],
       [ 0.97785703,  0.53584692,  1.84709411],
       [-1.02264438,  0.14401343,  0.19318394],
       [ 0.97785703, -0.54169518,  0.45899093]])

In [31]:
x_train_scaled=pd.DataFrame(x_train_scaled,columns=x_train.columns)
x_test_scaled=pd.DataFrame(x_test_scaled,columns=x_test.columns)

In [32]:
x_train_scaled

       Gender       Age  EstimatedSalary
0    0.977857  2.005223         0.724798
1   -1.022644 -1.227404        -1.431192
2   -1.022644  0.339930        -0.338430
3   -1.022644 -0.933529         0.547593
4    0.977857  0.437889         0.281786
..        ...       ...              ...
263  0.977857 -1.325362        -1.283522
264  0.977857 -1.129445        -1.047249
265  0.977857  0.535847         1.847094
266 -1.022644  0.144013         0.193184
267  0.977857 -0.541695         0.458991

[268 rows x 3 columns]

In [41]:
np.round(x_train.describe(),2)

       Gender     Age  EstimatedSalary
count  268.00  268.00           268.00
mean     0.51   37.53         70458.96
std      0.50   10.23         33922.50
min      0.00   18.00         15000.00
25%      0.00   30.00         44000.00
50%      1.00   37.00         71000.00
75%      1.00   45.00         88000.00
max      1.00   60.00        150000.00

In [37]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\anish\anaconda3\lib\site-packages (1.26.4)

In [39]:
import numpy as np

In [40]:
np.round(x_train_scaled.describe(),2)

       Gender     Age  EstimatedSalary
count  268.00  268.00           268.00
mean     0.00   -0.00             0.00
std      1.00    1.00             1.00
min     -1.02   -1.91            -1.64
25%     -1.02   -0.74            -0.78
50%      0.98   -0.05             0.02
75%      0.98    0.73             0.52
max      0.98    2.20             2.35